body {
  --bg-color: #222;
  --bg-secondary-color: #29272a;
  --font-color: #f5f5f5;
  --color-grey: #ccc;
  --color-darkGrey: #777;
  --color-lightGrey: #515457;
}
main {
  --grid-maxwidth: 720px;
  width: 100%;
  padding: 4rem;
}

.card {
  box-shadow: 0 1px 4px var(--color-lightGrey);
  border-radius: 9px;
  background: var(--bg-secondary-color);
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]) {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-darkGrey);
  border-radius: 0;
  color: var(--font-color);

  &:hover  {
    border-color: none;
    border-bottom-color: var(--color-primary);
  }
  &:focus {
    border-color: none;
    box-shadow: none;
  }
}
