body {
  --bg-color: #222;
  --bg-secondary-color: #29272a;
  --font-color: #f5f5f5;
  --color-grey: #ccc;
  --color-darkGrey: #777;
  --color-lightGrey: #515457;
}
main {
  --grid-maxwidth: 720px;
  width: 100%;
  padding: 4rem;
}

.card {
  box-shadow: 0 1px 4px var(--color-lightGrey);
  border-radius: 9px;
  background: var(--bg-secondary-color);
}

[contentEditable],
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]), textarea, textarea[type="text"] {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-darkGrey);
  border-radius: 0;
  color: var(--font-color);
}
[contentEditable]:hover,[contentEditable]:focus,[contentEditable]:active,
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]):not(:disabled):hover, textarea:hover, textarea[type="text"]:hover {
  border-color: none;
  border-bottom-color: var(--color-primary);
}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="color"]):not([type="button"]):not([type="reset"]):focus, textarea:focus, textarea[type="text"]:focus {
  border-color: none;
  box-shadow: none;
}
[contentEditable] {
  padding: .5rem 1rem;
  &:empty:not(:focus):before {
    content: attr(placeholder);
    color: var(--color-darkGrey);
  }
}


@for $sz from 2 through 4 {
  .fs-#{$sz} {
    font-size: #{$sz}rem;
  }
}

@for $sz from 0 through 4 {
  .m-#{$sz} {
    margin: #{$sz}rem;
  }
  .mt-#{$sz} {
    margin-top: #{$sz}rem;
  }
  .mb-#{$sz} {
    margin-bottom: #{$sz}rem;
  }
  .ml-#{$sz} {
    margin-left: #{$sz}rem;
  }
  .mr-#{$sz} {
    margin-right: #{$sz}rem;
  }

  .p-#{$sz} {
    padding: #{$sz}rem;
  }
  .pt-#{$sz} {
    padding-top: #{$sz}rem;
  }
  .pb-#{$sz} {
    padding-bottom: #{$sz}rem;
  }
  .pl-#{$sz} {
    padding-left: #{$sz}rem;
  }
  .pr-#{$sz} {
    padding-right: #{$sz}rem;
  }
}
.w-100 {
  width: 100%;
}
